---
---

/* for prototyping */
* {
	border: red solid 1px !important;
}


/* COLOUR SCHEME */

$heading_color: black;
$text_color: #222222;
$highlight_color: #23addb;
$muted_text_color: #666;
$muted_background_color: #f3f3f3;


/* TYPOGRAPHY */

body {
	font: 400 14px 'Source Sans Pro', Helvetica, Arial, Sans-Serif;
	text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    color: $heading_color;
}

p {
	color: $text_color;
	margin: 0 0 25px 0;
	line-height: 1.45;
}

header{
	nav {
		font-size: 13px;
		font-weight: 700;
		color: $heading_color;
	    text-transform: uppercase;
	    letter-spacing: 1px;
	}
}


/* REUSABLE CLASSES */

.flex-container {
	display: flex;
}

.equal-width-column {
	flex-grow: 1;
}

.text-center {
	text-align: center;
}

.horizontal-center {
	display: block;
	margin: auto;
}


/* LINKS */

a {
	text-decoration: none;
	color: $text_color;

	&:hover {
		color: $highlight_color;
	}
}


/* HEADER */

header {

	.logo {
		flex-grow: 1;
	}

	nav {
		flex-grow: 2;
		align-items: center;

		&.flex-container {
			justify-content: space-around;
		}
	}
}


/* FOOTER */



/* MAIN TITLE SECTION */

.landing-feature {
	background-image: url({{ site.url }}/images/frogger.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}


/* FEATURED WORK */

.sidebar-selector {
	flex-grow: 1;
}

.featured-grid {
	flex-grow: 5;
	flex-wrap: wrap;
	justify-content: flex-start;
	width: 750px;
}

// NOTE: width of grid is just over twice width of tile
// intentionally, so only 2 can fit in a row. Prob need to 
// make this more responsive and/or use variable calculations

.project-tile {
	height: 320px;
	width: 370px;
}


/* POPULAR BLOG POSTS */

.top-posts-wrapper {
	justify-content: space-around;
	flex-wrap: wrap;
}


/* ABOUT ME */


/* PROJECTS PAGE */

.project-grid, .tag-wrapper {
	flex-wrap: wrap;
	justify-content: space-around;
}



