---
---

/* for prototyping */
* {
	border: red solid 1px !important;
}


// COLOUR SCHEME

$heading_color: black;
$text_color: #222222;
$highlight_color: #23addb;
$muted_text_color: #666;
$muted_background_color: #f3f3f3;


/* TYPOGRAPHY */

// remember to change the <link> in <head> as well (if you change the font variables)
$font: 'Source Sans Pro';
$normal: 400;
$bold: 700;

body {
	font: $normal 14px $font, Helvetica, Arial, Sans-Serif;
	text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: $bold;
    color: $heading_color;
}

p {
	color: $text_color;
	margin: 0 0 25px 0;
	line-height: 1.45;
}


/* REUSABLE CLASSES */

.flex-container {
	display: flex;
}

.equal-width-column {
	flex-grow: 1;
}

.text-center {
	text-align: center;
}

.horizontal-center {
	display: block;
	margin: auto;
}


/* LINKS */

a {
	text-decoration: none;
	color: $text_color;

	&:hover {
		color: $highlight_color;
	}
}


/* HEADER */

header {

	.logo {
		flex-grow: 1;		
	}

	nav {
		flex-grow: 2;
		align-items: center;
		font-size: 13px;
		font-weight: $bold;
		color: $heading_color;
	    text-transform: uppercase;
	    letter-spacing: 1px;

		&.flex-container {
			justify-content: space-around;
		}
	}
}

.header-title {
	text-transform: uppercase;
	font-size: 48px;
}


/* MAIN TITLE SECTION */

.landing-feature {
	background-image: url({{ site.url }}/images/frogger.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	padding: 30px 0 60px 0;
	text-transform: uppercase;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	/* https://developer.mozilla.org/en-US/docs/Web/CSS/font-smooth */
	/* http://usabilitypost.com/2012/11/05/stop-fixing-font-smoothing/ */
}

.name {
	color: white;
	font-size: 13px;
	font-weight: $bold;	
	letter-spacing: .18em;	
}

.job-title {
	color: $highlight_color;
	font-size: 64px;
	letter-spacing: 0.1em;	
	font-weight: $normal;	
}


/* FEATURED WORK */

.sidebar-selector {
	flex-grow: 1;
}

.featured-grid {
	flex-grow: 5;
	flex-wrap: wrap;
	justify-content: flex-start;
	width: 750px;
}

// NOTE: width of grid is just over twice width of tile
// intentionally, so only 2 can fit in a row. Prob need to 
// make this more responsive and/or use variable calculations

.project-tile {
	height: 320px;
	width: 370px;
}


/* POPULAR BLOG POSTS */

.top-posts-wrapper {
	justify-content: space-around;
	flex-wrap: wrap;
}


/* ABOUT ME */


/* FOOTER */


/* PROJECTS PAGE */

.project-grid, .tag-wrapper {
	flex-wrap: wrap;
	justify-content: space-around;
}



