---
---

/* for prototyping */
* {
	border: red solid 1px !important;
}


/* REUSABLE CLASSES */

.flex-container {
	display: flex;
}

.equal-width-column {
	flex-grow: 1;
}

.text-center {
	text-align: center;
}



/* HEADER */

header {

	&.flex-container {
		justify-content: space-around;
	}
	
	.logo {
		flex-grow: 1;
	}

	nav {
		flex-grow: 2;

		&.flex-container {
			justify-content: space-around;
		}
	}
}


/* FOOTER */

#sub-footer {	
	div {
		flex-grow: 1;
	}
}


/* MAIN TITLE SECTION */
/* none */


/* FEATURED WORK */

.sidebar-selector {
	flex-grow: 1;
}

.grid {
	flex-grow: 5;
	flex-direction: column;
}

.row {
	flex-grow: 1;

	div {
		flex-grow: 1;
	}
}


/* POPULAR BLOG POSTS */

.top-posts-wrapper {
	justify-content: space-around;
	flex-wrap: wrap;
}


/* ABOUT ME */

