// COLOUR SCHEME

$heading_color: black;
$text_color: #222222;
$highlight_color: #23addb;
$muted_text_color: #666;
$muted_background_color: #f3f3f3;

// TYPOGRAPHY 
// (remember to change the <link> in <head> as well (if you change the font variables))

$font: 'Source Sans Pro';
$light: 300;
$normal: 400;
$bold: 700;