---
title: Andy Davies | Web Developer
layout: master
---


<div class="landing-feature">

	<div class="text-center">

		<h1>
			<span class="name">Andy Davies </span> 
			<br>
			<span class="job-title">Web Developer</span>
		</h1>

	</div>

</div>


<section class="flex-container">
	
	<div class="sidebar-selector text-center">
		
		<h2>Featured Work</h2>
		
		<ul>
			<li class="tab active" data-reference="featured-programming">
				<h3>Programming</h3>
			</li>

			<li class="tab" data-reference="featured-websites">
				<h3>Websites</h3>
			</li>

			<li class="tab" data-reference="featured-writing">
				<h3>Writing</h3>
			</li>
		</ul>

	</div>

	<div id="featured-programming" class="flex-container featured-grid">

		{% for project in site.projects %}

			{% if project.featured == true and project.type == 'programming' %}

				<a href="{{ project.page_url }}">
					<div class="project-tile" style="background-image: url('{{ project.image_url }}');">
						<div class="project-tile-info">
							<h4 class="project-tile-title">{{ project.title }}</h4>
							<span class="project-tile-desc">{{ project.description }}</span>
						</div>
					</div>
				</a>

			{% endif %}

		{% endfor %}
	
	</div>	

	<div id="featured-websites" class="flex-container featured-grid hidden">

		{% for project in site.projects %}

			{% if project.featured == true and project.type == 'website' %}

				<a href="{{ project.page_url }}">
					<div class="project-tile" style="background-image: url('{{ project.image_url }}');">
						<div class="project-tile-info">
							<h4 class="project-tile-title">{{ project.title }}</h4>
							<span class="project-tile-desc">{{ project.description }}</span>
						</div>
					</div>
				</a>

			{% endif %}

		{% endfor %}
	
	</div>

	<div id="featured-writing" class="flex-container featured-grid hidden">

		{% for post in site.posts %}

			{% if post.featured == true %}

				<a href="{{ post.url }}">
					<div class="project-tile" style="background-image: url('{{ post.image_url}}');">
						<div class="project-tile-info">
							<h4 class="project-tile-desc">{{ post.title }}</h4>
						</div>
					</div>
				</a>

			{% endif %}

		{% endfor %}
	
	</div>

</section>


<section class="front-page-blog">

	{% for post in site.posts limit:1 %}

		<article class="featured-post">
		
			<h2 class="featured-post-label">Latest blog post</h2>
			<h3 class="featured-post-title">{{ post.title }}</h3>
			<img src="{{ post.image_url }}">
			<p>{{ post.excerpt }}</p>
			<a class="button" href="{{ post.url }}">Read now</a>			

		</article>

	{% endfor %}	

</section>


<section class="front-page-about">

	<h2>About me</h2>

	<div class="flex-container">
		
		<div class="equal-width-column">
			<img src="https://placehold.it/300x300">
		</div>

		<div class="equal-width-column">

			<div class="raised">

				<p>I'm a Web Developer from Wirral, England.</p>

				<ul>
					<li>I make websites for small and medium-sized businesses on a freelance basis.</li>
					<li>I'm available for freelance and contract work on development projects.</li>
					<li>I can work remotely with companies from all over the world</li>
				</ul>

				<a href="{{ site.url }}/contact.html" class="button">Hire me</a>
				
				<a href="{{ site.url }}/about.html" class="button">Find out more</a>

			</div>	

		</div>

	</div>	

</section>


<script type="text/javascript" src="{{ site.url }}/js/tabSelector.js"></script>

	