---
title: Andy Davies | Web Developer
layout: master
---


<div class="landing-feature">

	<div class="text-center">

		<h1>
			<span class="name">Andy Davies </span> 
			<br>
			<span class="job-title">Web Developer</span>
		</h1>

	</div>

</div>


<section class="flex-container">
	
	<div class="sidebar-selector text-center">
		
		<h2>Featured Work</h2>
		<!-- for now
		<h3>Websites</h3>
		<h3>Programming</h3>
		<h3>Writing</h3>
		-->

	</div>

	<div class="flex-container featured-grid">

		{% for project in site.projects %}

			{% if project.featured == true %}

				<a href="{{ project.page_url }}">
					<div class="project-tile" style="background-image: url('{{ project.image_url}}');">
						<div>
							<h4>{{ project.title }}</h4>
						</div>
					</div>
				</a>

			{% endif %}

		{% endfor %}
	
	</div>	

</section>


<section>

	<h2 class="text-center">Popular blog posts</h2>

	<div class="top-posts-wrapper flex-container">
		
		{% for post in site.posts %}

			<a href="{{ site.baseurl }}{{ post.url }}">
				<div>
					<h3>{{ post.title }}</h3>
					<p>{{ post.excerpt }}</p>
				</div>
			</a>

		{% endfor %}

	</div>

</section>


<section>

	<h2 class="text-center">About me</h2>

	<div class="flex-container">
		
		<div class="equal-width-column">
			photo?
		</div>

		<div class="equal-width-column">
			<p>blah blah blah</p>
		</div>

	</div>	

</section>

	