---
title: Projects | Andy Davies
layout: master
---


<h1 class="page-title">Projects</h1>

<div class="flex-container project-grid">

	{% for project in site.projects %}

		<div>

			<a href="{{ project.page_url }}">

				<div class="tile" style="background-image: url('{{ project.image_url }}');">

					<div class="tile-info">

						<h2 class="tile-title">{{ project.title }}</h2>

						<span class="tile-description">{{ project.description }}</span>

					</div>

				</div>

			</a>

			<div class="flex-container tag-wrapper">

				{% for tag in project.tags %}
					<div class="tag">{{ tag }}</div>
				{% endfor %}

			</div>			

		</div>

	{% endfor %}

</div>