---
title: Projects | Andy Davies
layout: master
---


<h1 class="page-title">Projects</h1>

<div class="flex-container project-grid">

	{% for project in site.projects %}
		<div class="main-project-tile">

			<h2>
				<a href="{{ project.page_url }}">
					{{ project.title }}
				</a>
			</h2>

			<a href="{{ project.page_url }}">
				<img src="{{ project.image_url }}" class="hover-effect">
			</a>

			<p>{{ project.description }}</p>

			<div class="flex-container tag-wrapper">
				{% for tag in project.tags %}
					<div>{{ tag }}</div>
				{% endfor %}
			</div>			

		</div>
	{% endfor %}

</div>