---
title: Projects | Andy Davies
layout: master
---

<h1 class="text-center">Projects</h2>

<div class="flex-container project-grid">

	{% for project in site.projects %}
		<div>

			<h2>
				<a href="{{ project.page_url }}">
					{{ project.title }}
				</a>
			</h2>

			<a href="{{ project.page_url }}">
				<img src="{{ project.image_url }}">
			</a>
			
			<p>{{ project.description }}</p>

			<div class="flex-container tag-wrapper">
				{% for tag in project.tags %}
					<div>{{ tag }}</div>
				{% endfor %}
			</div>			

		</div>
	{% endfor %}

</div>