		
		<footer>
			
			<div id="sub-footer" class="flex-container">

				<div class="equal-width-column">

					<h2>My Profiles</h2>
					<ul>
						<li>
							<a href="https://twitter.com/1andydavies1" target="_blank">
								Twitter
							</a>
						</li>
						<li>
							<a href="https://github.com/andavies" target="_blank">
								GitHub
							</a>
						</li>
						<li>
							<a href="http://stackoverflow.com/users/story/5794667" target="_blank">
								Stack Overflow
							</a>
						</li>
					</ul>

				</div>

				<div class="equal-width-column">
					
					<img src="https://imgs.xkcd.com/comics/sports.png" class="horizontal-center">

				</div>

			</div>

			<div id="main-footer">

				Copyright
				
			</div>

		</footer>





	</body>

</html>