		
		<footer>
			
			<div class="sub-footer">

				<div class="my-profiles">

					<h2>My Profiles</h2>
					<ul>
						<li>
							<a href="https://twitter.com/1andydavies1" target="_blank">
								Twitter
							</a>
						</li>
						<li>
							<a href="https://github.com/andavies" target="_blank">
								GitHub
							</a>
						</li>
						<li>
							<a href="http://stackoverflow.com/users/story/5794667" target="_blank">
								Stack Overflow
							</a>
						</li>
					</ul>

				</div>

				<div class="xkcd">
					
					<a href="https://xkcd.com" target="_blank">
						<img src="https://imgs.xkcd.com/comics/sports.png" class="horizontal-center">
					</a>

				</div>

			</div>

			<div class="main-footer">
				<p>Copyright: me.</p>				
			</div>

		</footer>
			
		
		<script type="text/javascript" src="{{ site.url }}/js/menu-toggle.js"></script>
		<script type="text/javascript" src="{{ site.url }}/js/tabSelector.js"></script>


	</body>

</html>