		
		<footer>
			
			<div id="sub-footer" class="flex-container">

				<div>

					<h2 class="text-center">My Profiles</h2>
					<ul>
						<li class="text-center"><a href="/">Twitter</a></li>
						<li class="text-center"><a href="/">GitHub</a></li>
						<li class="text-center"><a href="/">Stack Overflow</a></li>
					</ul>

				</div>

				<div>
					
					Something different. XKCD?

				</div>

			</div>

			<div id="main-footer">

				Copyright
				
			</div>

		</footer>





	</body>

</html>