<header class="main-header">

	<div class="logo">
		<a href="{{ site.url }}">
			<span class="header-title">Andy Davies</span>
		</a>
	</div>

	<nav id="main-menu" class="menu-closed">
		<a id="main-menu-icon" role="button" class="menu-icon">MENU</a>
		<div class="menu-items">
			<a href="{{ site.baseurl }}/about.html">about</a>
			<a href="{{ site.baseurl }}/projects.html">projects</a>
			<a href="{{ site.baseurl }}/blog.html">blog</a>
			<a href="{{ site.baseurl }}/contact.html">contact</a>
		</div>		
	</nav>

</header>