body {
	font: $normal 16px $font, Helvetica, Arial, Sans-Serif;
	text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, h5, h6 {
    color: $heading_color;
}

p {
	color: $text_color;
	line-height: 1.45;
}

a {
	text-decoration: none;
	color: $text_color;

	&:hover {
		color: $highlight_color;
	}
}

.page-title {
	@include blue-caps-title;
}

.featured-post-title {
	@include blue-caps-title;
}