body {
	font: $normal 16px $font, Helvetica, Arial, Sans-Serif;
	text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, h5, h6 {
    color: $heading_color;
}

p {
	color: $text_color;
	line-height: 1.45;
}

a {
	text-decoration: none;
	color: $text_color;

	&:hover {
		color: $highlight_color;
	}
}

.main-header {
	nav {
		@include small-caps-label(black);
	}
}

.job-title {
	@include blue-caps-title;
}

.name {
	@include small-caps-label(white);
}

.project-tile-title {
	@include small-caps-label(black);
}

.project-tile-desc {
	font-size: 16px;
	font-weight: $normal;
	color: $muted_text_color;
}

.page-title {
	@include blue-caps-title;
}

.featured-post-title {
	@include blue-caps-title;
}

.article-title {
	font-size: 72px;
	font-weight: $light;
}

.article-description {
	font-size: 22px;
	font-style: italic;
	font-weight: $light;
}

.article-date {
	@include small-caps-label(black);
}