.button {
    border: 2px solid $highlight_color;
    margin: 0 8px;
    padding: 18px 12px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    min-width: 80px;
    font-size: 12px;
    font-weight: $bold;
    background-color: $muted_background_color;
    color: $highlight_color;
    display: inline-block;
}

.button:hover {
    color: white;
    background-color: $highlight_color;
}