.featured-work-grid {
	display: block;
	margin: 0 2%;
}

.sidebar-selector {

	.sidebar-selector-heading {
		text-align: center;
	}

	ul {
		display: none;
	}		
}

.tab {
	cursor: pointer;
	border-top: solid 1px #cdcdcd;
	padding-right: 15px;
	&:first-child {
		border-top: none;
	}

	.tab-heading {
		padding: 20px 0 20px 5px;
		margin: 0;
		text-align: left;
	}
}

.active {
	background-color: white;
	border-left: solid 5px $highlight_color;
}

.featured-grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	width: 100%;
}

.hidden {
	display: none !important;
}

@media screen and (min-width: 550px) {
	.featured-work-grid {
		display: flex;
		margin: 0;
	}

	.sidebar-selector {
		background-color: $muted_background_color;
		padding-left: 7%;
		box-shadow: 5px -16px 20px 0 rgba(0, 0, 0, 0.3);
		z-index: 1;

		.sidebar-selector-heading {
			padding-right: 10px;
		}

		ul {
			display: block;
		}
	}
}