.contact-form {
	display: flex;
    flex-direction: column;
    width: 60%;
    margin: auto;
    align-items: center;

    input, 
    textarea {
	    margin: 10px 0;
	    width: 100%;
	    text-align: center;
	    font-family: $font;
	}

	/* reset default styles */
	button {
		background-color: inherit;
    	border: inherit;
    	font-family: inherit;
	}

	textarea {
		min-height: 100px;
	}
}