nav {
	display:flex;
	align-items: center;
	justify-content: space-around;
}

.menu-items {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;		
}

.menu-icon {
	display: none;
}

@media screen and (max-width: 650px){

	.menu-closed {
		
		.menu-items {
			display: none;
		}					

		.menu-icon {
			display: block;
		}		
	}	

	.menu-open {

		flex-direction: column;

		.menu-items {
			display: flex;
			flex-direction: column;
		}

		a {
			padding: 5px;
		}

		.menu-icon {
			display: block;
			border-bottom: solid 1px black;
		}
	}
}