.tag {
	background-color: $muted_background_color;
    border-radius: 5px;
    padding: 0 5px;
    margin-right: 10px;
}

.tag-wrapper {
	flex-wrap: wrap;
	justify-content: space-around;
	margin: 8px 0;	
}