footer {
	background-color: black;

	h2, a, p {
		color: white;
	}
}

.sub-footer {
	text-align: center;	
	padding: 25px 10px;
	display: flex;
	flex-wrap: wrap;

	.my-profiles,
	.xkcd {
		min-width: 400px;
		flex-grow: 1;
	}

	li {
		margin: 5px 0;
	}	
}

.main-footer {
	p {
		margin: 0 15px;
	}
}