.landing-page {
	.landing-feature {
		h1 {
			color: $highlight_color;
			text-transform: uppercase;
			font-size: 52px;
			font-weight: $light;
		}		
	}
}

.landing-page-intro {
	p {
		text-align: center;
		font-size: 28px;
		font-weight: $light;
		padding: 5%;
	}
}

.product {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	text-align: center;
	font-size: 20px;
	font-weight: $light; 

	div {
		max-width: 50%;
	}

	ul {
		text-align: left;
		list-style-type: disc;		
	}

	h2 {
		font-weight: $normal;
		color: $highlight_color;		
	}

	.price {
		font-size: 22px;
	}
}